* { 
    font-family: "Inter", sans-serif; 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #11071F;
    --background-color-secundary: #000000;
    --text-primary: #FFFFFF;
    --text-secondary: #AAAAAA;
    --button-color: #2C1250;
}
body{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-secundary);
    color: var(--text-primary);
    min-width: 100vw;
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--background-color);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

main > section:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;

    & img{
        width: 100px;
    }
    & div > h1{
        font-size: 1rem;
        margin-bottom: 10px;
    }
}

main > section:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15px;

    & h2{
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    & p{
        font-size: 1rem;
        color: var(--text-secondary);
        line-height: 1.5rem;
        width: 50%;
        text-align: center;
    }
}

main > section:nth-child(3) {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;

    & h3{
        font-size: 2rem;
        margin-bottom: 10px;
    }
    & div{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }
    & div > h5{
        font-size: 1.5rem;
    }
    & p{
        width: 80%;
    }
    & button{
        width: 100px;
        height: 30px;
        background-color: var(--button-color);
        color: var(--text-primary);
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}