body{ 
    font-family: "Inter", sans-serif; 
    margin: 0; 
    padding: 0; 
    background-color: #11071F;
    color: #fff;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    .presentacion{
    }
}